body {
  background: #F0E6F0;
  margin: 0;
  background-image: url("/img/salad-table.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

span{
  color: #FF9900;

}
h2{
  color: #FFD700;
  text-shadow: 2px 2px black;
}
.title{

  color: #FF2300;*/
  /*font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top: -1%;
  text-shadow: 2px 2px lightgrey;
  font-weight: bold;*/
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.85;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.food{
  color: white;
}
