<h2>Recipes added to favorites</h2>
  <a class="nav-link text-uppercase text-expanded" href="/favorite">  Check out your Favorites List  <span class="glyphicon">&#xe005;</span></a>

<h3><%= recipes.name %></h3>

<ul class="title">
  <li><%= recipes.ingredient %></li>

</ul>
