<h2>Favorite Recipes</h2>





<% recipes.forEach(function(recipes) { %>
   <div class="well">
     <h2><%= recipes.name %></h2>
     <a class="delete-link" href = "/favorite" deleteUrl="/<%=recipes.name%>">Delete</a>
     <a class="details-link" href = "<%=recipes.url%>">Details</a>
   </div>
 <% }); %>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous">
</script>


<script>
 $('.delete-link').on('click', function(e){
    // e.preventDefault();
    var deleteUrl =$(this).attr('deleteUrl');
    $.ajax({
      method: 'DELETE',
      url: deleteUrl
    });
 });
</script>
