<h2>Favorite Recipes</h2>

<h1>recipe title</h1>

<ul class="title">
  <li>recipe ingredients</li>

</ul>
<% recipe.forEach(function(food) { %>
<div class="well">
    <h2><a href="/favorite/<%= food.title %>"><%= food.title %></a>
    <small><%= food.ingredients %></small>
    <!-- <small><%= item.userId %></small> -->

</div>
<% }); %>
