<h2>Favorite Recipes</h2>

<h3>recipe title</h3>

<ul class="title">
  <li>recipe ingredients</li>

</ul>

<div class="well">
    <h2><%= recipes.name %></a></h2>
    <small><%= recipes.ingredient %></small>


</div>
