<h2>Favorite Recipes</h2>

<h3>recipe title</h3>

<ul class="title">
  <li>recipe ingredients</li>

</ul>
<% recipe.forEach(function(food) { %>
<div class="well">
    <h2><a href="/favorite/show<%= food.id %>"><%= food.title %></a>
    <small><%= food.ingredients %></small>
    <!-- <small><%= item.userId %></small> -->

</div>
<% }); %>
