<h2>Favorite Recipes</h2>





<% recipes.forEach(function(recipes) { %>
   <div class="well">
     <h2><%= recipes.name %></h2>
     <p><%= recipes.ingredient %></p>
     <a class="details" href = "<%=recipes.url%>">Details </a>
     <a class="delete food" href = "/favorite/<%=recipes.name%>" type="sumbit">Delete</a>

   </div>

 <% }); %>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous">
</script>


<script>

$('document').ready(function() {
    $('.delete').on('click', function(e) {
        e.preventDefault();
        var toRemove = $(this);
        var url = toRemove.attr('href');
        $.ajax({
            method: 'delete',
            url: url
        }).done(function(data) {
            console.log(data);
        });
        window.location = '/favorite'
    })
})
</script>
