<h2>Home</h2>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/auth/login"><span class="glyphicon glyphicon-heart"></span> Login </a>
  <a href="/auth/signup">Sign up <span class="fa fa-cog fa-spin"></span></a>
  <a href="/auth/logout" ><span class="glyphicon glyphicon-lamp"></span> Logout <span style="font-size:24px" class="fa">&#xf135; </span></a>
  <a href="/profile">Profile <span class="glyphicon">&#xe008;</span></a>
  <a href="/main/recipesearch"> recipe <span class="glyphicon">&#xe003;</span></a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<a href="/recipes"><h1>Recipes</h1></a>
