<h2>Home</h2>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/auth/login">Login <span class="material-icons">&#xe0da;</span></a>
  <a href="/auth/signup">Sign up <span class="fa fa-cog fa-spin"></span></a>
  <a href="/auth/logout">Logout</a>
  <a href="/profile">Profile <span class="glyphicon">&#xe008;</span></a>
  <a href="/main/recipesearch"> recipe <span class="glyphicon">&#xe003;</span></a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<div>
  <% recipes.forEach(function(food) { %>

       <li><a class="food" href="/recipes"><%= food.title %></a></li>
       <a href="/recipes"><img src= "<%= food.thumbnail %>" alt="foodPic"></a>
   <% }); %>
</div>
