<form  action="/recipes">
	<div class="form-group">
		<label for="foodType">What would you like to make</label>
		<input type="text" name="q" id="foodType" placeholder="omlette, pasta ect" class="form-control">
	</div>
	<a href="/recipes"><input type="submit" class="btn btn-primary" value="get Recipes"></a>
</form>
