<form action="/favorite/recipes" method="POST">
	<div class="form-group">
		<label for="recipe">What would you like to make</label>
		<input type="text" name="q" id="recipe" placeholder="omlette, pasta ect" class="form-control">
	</div>
	<input type="submit" class="btn btn-primary" value="get Recipes">
</form>
